<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>{% block title %}FUL-VC{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'lecture/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lecture/css/bootstrap.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'lecture/css/sb-admin.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'lecture/css/plugins/morris.css' %}" />
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'lecture/style.css' %}" /> -->
	
	<link rel="stylesheet" type="text/css" href="{% static 'lecture/font-awesome/css/font-awesome.min.css' %}">
	<script src="{% static 'lecture/js/jquery.js' %}"></script>
	<script src="{% static 'lecture/js/bootstrap.min.js' %}"></script>
	<!-- <script src="{% static 'lecture/js/jquery-1.12.0.min.js' %}"></script> -->
	


	
</head>
<body style="background: white url("images/background.png");">
	<div id="wrapper">
		<!-- <div class="container-fluid"> -->
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			
					
				
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'lecture:index' %}">FUL-VC</a>
            </div>

            <ul class="nav navbar-nav">
				<li class="{% block assets_active %}{% endblock %}">
					<a href="{% url 'lecture:index' %}">
						<span class="glyphicon glyphicon-folder-open"></span>&nbsp; Assets
					</a>
				</li>
				<li class="{% block classroom_active %}{% endblock %}">
					<a href="{% url 'lecture:classroom' %}">
						<span class="glyphicon glyphicon-home" aria-hidden="true">
						</span>&nbsp; Classroom
					</a>
				</li>
			</ul> -->

			<form class="navbar-form navbar-left" role="search" method="get" action="{% url 'lecture:index' %}">
				<div class="form-group">
					<input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>

            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Akowe Israel</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Today at 10:00 AM</p>
                                        <p>Had a nice time all through, thanks...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Abraham Musa</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Today at 10:12 AM</p>
                                        <p>Learnt something new today. Nice sir.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Femi Aleyesanmi</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Today at 10:20 AM</p>
                                        <p>An eye opening lecture, good one sir...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="">
					<a href="{% url 'lecture:create_coursepack' %}">
						<span class="glyphicon glyphicon-plus" aria-hidden="true">
						</span>&nbsp; Add CoursePack
					</a>
				</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'lecture:profile' %}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'lecture:logout_user' %}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            {% block sidebar %}
			{% endblock %}
        </nav>

      	{% block page-wrap %}
      	{% endblock %}



    </div>
    	{% block body %}
      	{% endblock %}
    <!-- /#wrapper -->


				<!-- Items -->
				<!-- <div class="collapse navbar-collapse" id="topNavBar">
					
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="{% url 'lecture:index' %}">
								<span class="glyphicon glyphicon-home" aria-hidden="true">
								</span>&nbsp; Assets
							</a>
						</li>
						<li class="">
							<a href="{% url 'lecture:index' %}">
								<span class="glyphicon glyphicon-home" aria-hidden="true">
								</span>&nbsp; Classroom
							</a>
						</li>
					</ul> -->

					<!-- <form class="navbar-form navbar-left" role="search" method="get" action="#">
						<div class="form-group">
							<input type="text" class="form-control" name="q" value="">
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form> -->

					<!-- <ul class="nav navbar-nav navbar-right">
						<li class="">
							<a href="#">
								<span class="glyphicon glyphicon-plus" aria-hidden="true">
								</span>&nbsp; Add CoursePack
							</a>
						</li>
						
						<li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i>&nbsp; <b class="caret"></b></a>
		                    <ul class="dropdown-menu alert-dropdown">
		                        <li>
		                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
		                        </li>
		                        <li>
		                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
		                        </li>
		                        <li>
		                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
		                        </li>
		                        <li class="divider"></li>
		                        <li>
		                            <a href="#">View All</a>
		                        </li>
		                    </ul>
		                </li>

						<li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user.username }} <b class="caret"></b></a>
		                    <ul class="dropdown-menu">
		                        <li>
		                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
		                        </li>
		                        <li>
		                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
		                        </li>
		                        <li class="divider"></li>
		                        <li>
		                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
		                        </li>
		                    </ul>
		                </li>
					</ul> -->
		<!-- 		</div>

			</div>
		</nav> -->
		

		
	<!-- </div> -->
</body>
</html>